


/*The Navigation Bar */

nav {
display: flex;
height: 64px;
border: red 2px solid;
justify-content: space-between;


}

.nav-box-1 {

    
    
    display: flex;
    margin-left: 24px;
    
}

.nav-box-1 span {

    font-size: 32px;
    
    margin: auto;
    
    
}

.nav-box-1 img {

    height: 50px;
    
    margin: auto;
}


.nav-box-2 {

    
    
    display: flex;
    margin-right: 24px;
    

}


.nav-box-2 ul {
    margin: auto;

}


.nav-box-2 li {

        display: inline;
        margin: 16px;
        font-weight: bold;

}

/* Banner Section */ 

.banner-daddy {
width: 100%;
background-color: blanchedalmond;
height: auto;
display: flex;

}


.banner-photo-box {
    margin: 32px 24px;



}

.banner-photo-box img {

    height: 100%;
    width: 100%;
}

.learn-something-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    
    


}

.learn-something-box h1 {
    font-size: 85px;
    
    
}

.learn-something-box span {

    font-size: 32px;
    font-weight: bold;
}

.button {

    margin: 24px;
    background-color: darkgray;
    padding-top: 15px;
    padding-bottom: 15px;    



}

.button span {

    padding: 8px;
}

/* Middle Section */


.middle-daddy {
    width: 100%;
    background-color: white;
    height: auto;
    display: flex;

}

.middle-container-one h1 {
    text-align: center;
    font-size: 50px;
    



}
.middle-container-one p {

    margin: 24px;
}

.middle-photo-box {
    margin: 32px 24px;

}


.content-box {
display: flex;
flex-direction: column;
border-left: 1px lightgray solid;


}

.box {

    display: flex;
    margin: 16px;
    border: red 2px solid;
}


.image-container {


}

.content {
 display: flex;
 flex-direction: column;
 align-self: center;
 }


.content h2 {

    margin: auto 5px;
    border: magenta 2px solid;
    
}
          
.content span {

margin: auto 5px; 
border: blue 2px solid;   
    
}

.read-more {

margin: auto 5px;


}



/* Thesis Exhibit Section */

.bottom-daddy {

    text-align: center;
    border: red 2px solid;


}

.bottom-daddy h1 {

    margin: 32px auto;
}


.flexbox {

    display: flex;
}

.left-box {

    display: flex;
    flex-direction: column;
    border: 2px magenta solid;
    flex-grow: 5;
}


.videobox {

    height: auto;
    width: auto;

}

.videobox video {

    height: 100%;
    width: 100%;
}

.right-box {

    display: flex;
    flex-direction: column;
    border: indianred 2px solid;
    flex-grow: 1;
}


.side-content {

    display: flex;
}